{% if current_user.is_authenticated %}
    {% extends "logtemplate.html" %}
{% else %}
	{% extends "teamplate.html" %}
{% endif %}
<title>Личный Кабинет</title>

{% block content %}
<div style="background-color:white; padding:10px;">
<h1>Личный Кабинет</h1>
<h2>У вас арендовано {{ meters }} квадратных метров. Ваша арендная плата составляет {{ payment }}$ в месяц</h2>
<h2>Хотите изменить размер своего склада?</h2>
<form action="" method="post">
	{{ form.csrf_token }}
    <p>
        {{ form.value.label }}<br>
        {{ form.value(class="form-control") }}<br>
        {% for error in form.value.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit1(type="submit", class="btn btn-primary") }}</p>
</form>
<h2>Содержимое вашего склада</h2>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
	<table class="table table-bordered">
	  <thead>
		<tr>
		  <th scope="col">id</th>
		  <th scope="col">Наименование</th>
		  <th scope="col">Вес</th>
		  <th scope="col">Описание</th>
		  <th scope="col">Дата добавления</th>
		</tr>
	  </thead>
	  <tbody>
		{% for item in items%}
		<tr>
		  <th scope="row">{{ item.id }}</th>
		  <td>{{ item.name }}</td>
		  <td>{{ item.weight }}</td>
		  <td>{{ item.about }}</td>
		  <td>{{ item.add_date }}</td>
		</tr>
		{% endfor %}
	  </tbody>
	</table>
</div>

<h2>Хотите добавить предмет на склад?</h2>
<form action="" method="post">
	{{ form2.csrf_token }}
    <p>
        {{ form2.name.label }}<br>
        {{ form2.name(class="form-control") }}<br>
        {% for error in form2.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
	    <p>
        {{ form2.weight.label }}<br>
        {{ form2.weight(class="form-control") }}<br>
        {% for error in form2.weight.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
	    <p>
        {{ form2.about.label }}<br>
        {{ form2.about(class="form-control") }}<br>
        {% for error in form2.about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form2.submit2(type="submit", class="btn btn-primary") }}</p>
</form>
<h2>Хотите удалить предмет со склада?</h2>
<form action="" method="post">
	{{ form3.csrf_token }}
    <p>
        {{ form3.id.label }}<br>
        {{ form3.id(class="form-control") }}<br>
        {% for error in form3.id.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form3.submit3(type="submit", class="btn btn-primary") }}</p>
</form>
</div>
{% endblock %}